@font-face {
  font-family: 'darksky';
  src:
    url('fonts/darksky.ttf?xzk4bu') format('truetype'),
    url('fonts/darksky.woff?xzk4bu') format('woff'),
    url('fonts/darksky.svg?xzk4bu#darksky') format('svg');
  font-weight: normal;
  font-style: normal;
}

.darksky {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'darksky' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* font-size: 2em; */

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.raindrop:before {
  content: "\e900";
}
.sprinkle:before {
  content: "\e901";
}
.cloudy:before {
  content: "\e902";
}
.clear-day:before {
  content: "\e903";
}
.partly-cloudy-day:before {
  content: "\e904";
}
.fog:before {
  content: "\e905";
}
.hail:before {
  content: "\e906";
}
.partly-cloudy-night:before {
  content: "\e907";
}
.clear-night:before {
  content: "\e908";
}
.rain:before {
  content: "\e909";
}
.sleet:before {
  content: "\e90a";
}
.snow:before {
  content: "\e90b";
}
.thunderstorm:before {
  content: "\e90c";
}
.wind:before {
  content: "\e90d";
}
.tornado:before {
  content: "\e90e";
}
