
//  #region Code ============================= //

code, pre,
kbd, samp {
  font-family: $monospace, $monospace;
  font-size: var(--h8);
  line-height: inherit;
}

pre {
  position: relative;
  display: block;

  margin-bottom: 2rem;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;

  overflow-x: auto;

  code {
    width: 100%;
  }
} 

.codeblock, pre[highlight] {  
  padding: 0 1rem;
  border-radius: 0.3rem;
  
  @include shadow(2);
  overflow-x: auto;

  .title {
    position: relative;
    font-size: var(--h9);
    padding: 0.5rem 0;

    &:after {
      position: absolute;
      content: '';
      height: 2.5rem;
      left: -1rem;
      right: -1rem;
      border-bottom: 1px solid rgba(0,0,0,0.08);
    }
  }  
}


code[highlight] {
  padding: 0;
} /* reset */

$emphasis: rgba(0,0,0,0.03);
// $emphasis: scale-color(wheat, $alpha: -80%);

p code, div code,
p code[highlight], div code[highlight] {
  display: inline;
  color: scale-color($fontColor, $alpha: -10%);
  background: $emphasis;
  line-height: inherit;
  padding: 0.25rem 0.5rem;
  border-radius: 0.3rem;
  vertical-align: bottom;  
}
// #endregion Code ======================== //
