// _typography.scss //

@import './modular-scale';

// #region Document ================== //
html { 
  font-size: var(--root);  
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  min-height: 100vh;
}

body {
  font-size: var(--h6);
  line-height: 2rem;
  background-color: $backgroundColor;
  color: $fontColor;

  font-family: $sans-serif;
  font-style: normal;
  font-weight: normal;
  min-height: 100vh;
}

p, ol, ul, dl, pre, blockquote {
  margin-bottom: 1rem;
}
// #endregion Document ================== //


// #region Headings ================== //
h1, h2, h3, h4, h5, h6 {
  color: $headingColor;
  font-family: $headingFont;
  font-feature-settings: 'dlig', 'liga', 'lnum', 'kern';
  font-style: normal;
  font-weight: bolder;
}

// Heading level 1.
h1, .h1 {
  font-size: var(--h1);
  line-height: 3rem;
}

// Heading level 2.
h2, .h2 {
  font-size: var(--h2);
  line-height: 3rem;
}

// Heading level 3.
h3, .h3 {
  font-size: var(--h3);
  line-height: 3rem;
}

// Heading level 4.
h4, .h4 {
  font-size: var(--h4);
  line-height: 2rem;
}

// Heading level 5.
h5, .h5 {
  font-size: var(--h5);
  line-height: 2rem;
}

// Heading level 6.
h6, .h6 {
  font-size: var(--h6);
  line-height: 2rem;
}

.h7 {
  font-size: var(--h7);
  line-height: 2rem;
}

.h8 {
  font-size: var(--h8);
  line-height: 2rem;
}

.h9 {
  font-size: var(--h9);
  line-height: 1.5rem;
}
// #endregion Headings ================== //

// #region Horizontal rule ================== //
hr {
  background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0) 50%,$muteColor 50%);
  background-position: 0 50%;
  background-repeat: repeat-x;
  background-size: 100% 0.15rem;

  width: 95%;
  border: 0;
  margin: 0 auto;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
// #endregion Horizontal rule ================== //


// #region Lists ================== //
ul, ol {

  li {
    font-feature-settings: 'kern', 'onum', 'liga';
    margin-left: 2rem;

    ol, ul {
      padding-top: 1rem;
      margin-bottom: 1rem;
      margin-left: 2rem;
    }
  }
}

// Ordered lists.
ol {
  list-style-type: none;

  li {
    counter-increment: top-level;

    &:before {
      content: counter(top-level) '.';
      font-feature-settings: 'lnum', 'tnum';
      margin-left: -3rem;
      position: absolute;
      text-align: right;
      width: 2em;
    }

    ul {

      li {

        &:before {
          content: '';
        }

        ol {

          li {
            counter-increment: alt-level;

            &:before {
              content: counter(alt-level) '.';
            }
          }
        }
      }
    }

    ol {

      li {
        counter-increment: sub-level;

        &:before {
          content: counter(top-level) '.' counter(sub-level);
        }

        ul {

          li {

            &:before {
              content: '';
            }
          }
        }

        ol {

          li {
            counter-increment: sub-sub-level;

            &:before {
              content: counter(top-level) '.' counter(sub-level) '.' counter(sub-sub-level);
            }
          }
        }
      }
    }
  }
}

nav ol,
 nav ul {
   list-style: none;
   padding: 0;
 }


// Definition lists.
dl {

  dt, dd {
    font-feature-settings: 'kern', 'onum', 'liga';
    margin-left: 2rem;
  }

  dt {
    font-weight: bolder;
  }

  dd + dt {
    padding-top: 1rem;
  }
}
// #endregion Lists ================== //


 
// #region Tables ================== //
table {
  @extend .h7;	

  font-family: $headingFont;
  font-feature-settings: 'liga', 'lnum', 'tnum', 'kern';
  font-style: normal;
  font-weight: normal;
  width: 100%;
  border-collapse: collapse;

  thead {

    th {
      @extend .h6;	
      padding-bottom: 1px;
    }
  }
}
// #endregion Tables ================== //


// #region Text ================== //
// Links.
a {
  color: $linkColor;
  text-decoration: none;
  transition: color .1s, background-color .1s;
  background-color: transparent;

  &:hover, &:active{
    color: $hoverColor;
    text-decoration: none;
    outline-width:0;
  }
}

// Nice underlines for text links.
p a, li a {
  background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0) 50%,lighten($linkColor,20%) 50%);
  background-position: 0 93%;
  background-repeat: repeat-x;
  background-size: 100% 0.15rem;
  text-shadow: 0.1rem 0 $backgroundColor,
               0.15rem 0 $backgroundColor,
              -0.1rem 0 $backgroundColor,
              -0.15rem 0 $backgroundColor;

  &:hover, &:active {
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0) 50%,lighten($hoverColor,20%) 50%);
  }
}

// Paragraphs. 
p {
  font-feature-settings: 'kern', 'onum', 'liga';
}

abbr[title] {
  border-bottom: none; 
  text-decoration: underline; 
  text-decoration: underline dotted; 
}

// font-style.
b, strong, .bold {
  font-weight: bolder;
}

dfn{
  font-style:italic
}

em, i, .italic {
  font-style: italic;
}

small, .caption {
  @extend .h8;	

  font-family: $sans-serif;
  font-style: normal;
  font-weight: normal;
}

small {
  line-height: 1rem;
}

sub,
sup {
  @extend .h8;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

.caption {
  color: $muteColor;
}

// Nice spacing for captions.
h1 + .caption, .alpha + .caption, h2 + .caption, .beta + .caption, h3 + .caption, .gamma + .caption {
  margin-top: -1rem;
}

.h4 + .caption, .h5 + .caption, .h6 + .caption {
  margin-top: 0rem;
}

// Quotes.
blockquote {

  p {
    border-left: 0.15rem solid $linkColor;
    font-style: italic;
    padding-left: 1rem;
  }
}

details {
  display: block;
}
  
summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}
// #endregion Text ================== //


// #region Code ======================== //
code, pre,
kbd, samp {
  background-color: $codeBackgroundColor;
  font-family: $monospace, $monospace;
  font-size: 1em;
}

pre {
  display: block;
  padding: 0 1rem;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}

code {
  @extend .h8;	
  line-height: 1rem;
}

.codeblock {
  border-radius: 0.5rem;
  // padding: 1rem 1rem; 
  margin-bottom: 1rem;
  overflow: hidden;
}
// #endregion Code ======================== //


// #region Forms ================== //
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation; 
  touch-action: manipulation; 
}

button,
input,
select,
textarea {
  background-color: transparent; 
  background-color: rgba(255,255,255,0); 
  border: 0 solid; 
  margin: 0;
  border-radius: 0.25rem; 
  box-shadow: inset 0 0 0 1px #cccccc; 
  color: inherit; 
  font-family: inherit; 
  // font-size: inherit; 
  font-size: var(--h7);
  line-height: inherit; 
  letter-spacing: inherit; 
  padding: 0.25em 0.375em; 
  
  outline: none;
  overflow: hidden;
  
  transition: all 0.2s ease;

  &:focus {
    box-shadow: inset 0 0 0 1px #3B99FC;
  }

}

optgroup {
 font-family: inherit;
//  font-size: inherit;
  font-size: var(--h7);
 line-height: inherit;
}

button,
select { 
  text-transform: none;
}
select {
  height: 2.583334rem;
  display: inline-block;
  -webkit-appearance: menulist-button;
  // vertical-align: middle;

  @include media (640px) {
    height: 2.576923rem;
  }
  @include media (800px) {
    height: 2.571429rem;
  }
  @include media (1600px) {
    height: 2.566667rem;
  }
}

[type="text"] {
  min-width: 3rem;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
}

// button:-moz-focusring,
// [type="button"]:-moz-focusring,
// [type="reset"]:-moz-focusring,
// [type="submit"]:-moz-focusring {
//   outline: 1px dotted $fontColor;
// }

[type=checkbox],
[type=radio]{
 padding:0
}

legend {
  color: inherit; 
  display: table; 
  max-width: 100%; 
  white-space: normal; 
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield; 
  outline-offset: -2px; 
}

 ::-webkit-search-decoration {
   -webkit-appearance: none;
 }

::-webkit-file-upload-button {
  -webkit-appearance: button; 
  font: inherit; 
}

::-webkit-input-placeholder {
 color: inherit;
 opacity: 0.54;
}

::-moz-focus-inner {
 border-style: none;
 padding: 0;
}

:-moz-focusring {
 outline: 1px dotted $fontColor;
}


// #endregion Forms ================== //



// #region Media ================== //

img {
  border-style: none;
}

svg:not([fill]) {
  fill: currentColor;
}

svg:not(:root) {
  overflow: hidden;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

audio,
canvas,
audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}
// #endregion Media ================== //


// #region Scripting ================== //
canvas {
  display: inline-block;
}

template {
  display: none;
}
// #endregion Scripting ================== //


// #region Accessibility ================== //
[aria-busy="true"] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled="true"],
[disabled] {
  cursor: not-allowed;
}

[aria-hidden="false"][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  display: inherit;
  position: absolute;
}
// #endregion Accessibility ================== //


// #region Helper classes ================== //
.upper {
  font-kerning: normal;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

// Real small caps.
.small-caps {
  font-feature-settings: 'smcp', 'kern';
  font-kerning: normal;
  letter-spacing: 0.1rem;
}
.noMargin {
  margin: 0;
}

.active {
  color: complement($linkColor);
}
// #endregion Helper classes ================== //

